In [3]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for i in range(10, 20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [6]:
list=[10,20,14,55,43,87,76]
print(list)
print("Number of item in the list2:",len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list2: 7

In [4]:
text=input("")
for character in text:
    print(character)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [16]:
print("-Your name-")
print("-Your Age-")
print("-Your Profession-")

-Your name-
-Your Age-
-Your Profession-

In [18]:
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [1]:
tup1=(0,1,2,3)
tup2=('Python','Hope')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [2]:
lists=(20,10,16,19,25,1,276,188)
print(lists)
for numbers in lists:
    if((numbers%2)==1):
        print(numbers,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [3]:
lists=(20,10,16,19,25,1,276,188)
print(lists)
for numbers in lists:
    if((numbers%2)==0):
        print(numbers,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even